html
{
    font-size: 100%;
    height: 100%;
}

body
{
    background: url('../images/background.jpg') center no-repeat;
    height: 100%;
    min-width: 600px;
    -webkit-font-smoothing: antialiased;
}

div.logo
{
    background: url('../images/logo.png') center no-repeat;
    width: 600px;
    height: 241px;
    display: block;
    margin: 17.5% auto 0px;
}

div.is-coming
{
    font: 500 375% 'Advent Pro', sans-serif;
    text-align: center;
    height: 241px;
    display: block;
    margin: 22.5% auto 0px;
    color: rgba(0, 0, 0, 0.7);
}

    div.is-coming > #awesome
    {
        font-style: normal;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }
