html
{
    font-size: 100%;
    height: 100%;
}

body
{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 600px;
    -webkit-font-smoothing: antialiased;
}

.logo
{
}

.logo .logo-img
{
    display: block;
    width:  200px;
    height: 200px;
    margin: 15% auto 0;
    background: rgba(255, 132, 0, 0.45);
    border-radius: 50%;
    text-align: center;
}

.logo .logo-img span
{
    width: 80%;
    height: 80%;
    background: url('../images/logo.png') center no-repeat;
    background-size: 100% auto;
    display: inline-block;
    margin: 9% 0 0 15%;
}

.logo .tag-line
{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}
